#gamezone {
    width: 500px;
    height: 500px;
    background: grey;
    border: 10px solid black;
    position: relative;
    margin: 50px auto;
}

#ball{
    background: black;
    border-radius: 100%;
    position: absolute;
    height: 30px;
    width: 30px;
    left: 20px;
    top: 20px;
}